{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-hooks",
    "prettier",
    "testing-library",
    "jest-dom",
    "import"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "rules": {
    "camelcase": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "warn",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-cycle": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "warn",
    "no-nested-ternary": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "consistent-return": "warn",
    "no-useless-return": "off",
    "no-extra-boolean-cast": "warn",
    "no-param-reassign": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": ["off"],
    "lines-between-class-members": "off",
    "eqeqeq": "off",
    "no-plusplus": "off", // Rever,
    "testing-library/render-result-naming-convention": "off", // Rever
    "max-classes-per-file": ["warn", 3],
    "no-useless-constructor": "off"
  }
}
